h1,
h2,h4 {
    text-align: center;
}
table{
    border: 4px;
    font-size: medium;
}
table th, td{
    padding: 0px;
}
.celda{
    text-align: center;
    width: 75px;
}
.indice{
//     font-weight: bold;
    width: 40%;
}
.Borde{--padding-start: 8px;}
ion-item{
    --padding-start: 8px;
}
ion-item div{
    padding-left: 16px;
}
ion-select{
    font-weight: bolder;
}
.place{
    --placeholder-color: white;
    --placeholder-opacity: 1;
}